body{
font-family:Arial;
margin:0;
background:#f4f6f8;
}

.navbar{
background:#0f172a;
color:white;
padding:15px 40px;
display:flex;
justify-content:space-between;
align-items:center;
}

.navbar a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;
}

.hero{
background:url("https://images.unsplash.com/photo-1560518883-ce09059eeffa") center/cover;
height:420px;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.btn{
background:orange;
padding:12px 25px;
color:white;
text-decoration:none;
border-radius:5px;
}

.section{
text-align:center;
margin-top:40px;
}

.services{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:white;
padding:20px;
margin:15px;
width:250px;
box-shadow:0 0 10px gray;
border-radius:10px;
text-align:center;
}

.contact{
background:#0f172a;
color:white;
text-align:center;
padding:40px;
margin-top:40px;
}

.whatsapp{
background:green;
padding:15px 25px;
color:white;
text-decoration:none;
border-radius:5px;
}

.footer{
background:black;
color:white;
text-align:center;
padding:15px;
}
