body{
    font-family: Arial;
    margin:0;
    background:#f5f7fa;
}

/* NAVBAR */
.navbar{
    background:#0f172a;
    color:white;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar a{
    color:white;
    margin-left:20px;
    text-decoration:none;
    font-weight:bold;
}

/* HERO */
.hero{
    background:url("https://images.unsplash.com/photo-1560518883-ce09059eeffa") no-repeat center;
    background-size:cover;
    height:350px;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:30px;
}

/* SECTION */
.section-title{
    text-align:center;
    margin-top:40px;
}

/* PROPERTY */
.property-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:white;
    padding:15px;
    margin:15px;
    width:260px;
    box-shadow:0px 0px 10px gray;
    border-radius:10px;
}

/* ABOUT */
.about{
    background:#0f172a;
    color:white;
    padding:40px;
    text-align:center;
}

/* FOOTER */
.footer{
    background:black;
    color:white;
    padding:15px;
    text-align:center;
}
