<!DOCTYPE html>
<html>
<head>
    <title>Add Property</title>
</head>
<body>

<h2>Add Property</h2>

<form method="post" enctype="multipart/form-data">
    <input name="title" placeholder="Property Title" required><br><br>
    <input name="price" type="number" placeholder="Price" required><br><br>

    <select name="category">
        <option>Buy</option>
        <option>Sell</option>
        <option>Rent</option>
    </select><br><br>

    <input type="file" name="image" required><br><br>

    <button type="submit">Submit</button>
</form>

</body>
</html>
